@font-face {
  font-family: Calligrapher;
  src: url('../fonts/Calligrapher Regular.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url('../../node_modules/source-serif-pro/TTF/SourceSerifPro-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url('../../node_modules/source-serif-pro/TTF/SourceSerifPro-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url('../../node_modules/source-serif-pro/TTF/SourceSerifPro-It.ttf');
  font-style: italic;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url('../../node_modules/source-serif-pro/TTF/SourceSerifPro-BoldIt.ttf');
  font-weight: bold;
  font-style: italic;
}
