@import "variables";

.book {
  @media screen {
    padding-top: 5vh;
  }

  .page {
    background-color: white;
    margin: $page-gap;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);

    &[size="A4"] {

      width: $a4-page-width;
      height: $a4-page-height;

      padding: $a4-top-margin $a4-right-margin $a4-bottom-margin $a4-left-margin;
    }

    column-count: 3;

    @media print {
      box-shadow: none;
      margin: 0;
    }
  }
}
