h3 {
  margin-top: 1rem;
  color: darkred;
  font-size: 1.2rem;
  font-family: Calligrapher, monospace;

  & + * {
    text-indent: 0 !important;
  }

  &:first-child {
    margin-top: 0;
  }
}

p {
  font-family: "Source Serif Pro", monospace;
  text-align: justify;
  text-indent: 1rem;
}
